body {font-family: Arial, sans-serif;
display: flex;
justify-content: center;
background-color: white;}

.container {width: 100%;
max-width: 500px;
padding: 20px;
background-color: white;
border-radius: 5px;
box-shadow: 0 0 10px black;}

h1 {text-align: center;}

input {width: 80%;
padding: 10px;
margin-right: 10px;}

button {padding: 10px;
background-color: #28a745;
color: white;
border: none;
cursor: pointer;}

button:hover {background-color: #218838;}

ul {list-style: none;
padding: 0;}

li {padding: 10px;
border-bottom: 1px solid white;}

body { max-width: 600px;
  margin: auto;
  padding: 10px;}

input, button {width: 100%;
  box-sizing: border-box;}

@media (min-width: 600px) 
{input, button{width: auto;}}
